<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Eat-Da-Burger!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
    <style>
        .btn,
        .jumbotron,
        .panel>.panel-heading {
            background-image: none;
            background-color: maroon;
            color: white;

        }

        h3: {
            text-align: center
        }
    </style>
</head>

<body>
    {{{ body }}}

</body>


</html>
